{% extends 'cms_base.html' %}
{% load wagtailcore_tags %}
{% block content %}

<!-- Start Blog Area -->
<div class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">NEWS & ARTICLES</span>
            <h2>Learn More From Our Latest Blog</h2>
        </div>

        <div class="row justify-content-center">
            {% for post in posts %}
            <div class="col-lg-4 col-md-6">
                <div class="single-post-item startup-color">
                    {% comment %}
                    <div class="post-image">
                        <a href="{% pageurl post %}" class="d-block">
                            <img src="{% static 'assets/img/blog/blog-img6.jpg' %}" alt="image">
                        </a>
                    </div>
                    {% endcomment %}

                    <div class="post-content">
                        <ul class="meta">
                            <li><i class="far fa-calendar-alt"></i> {{ post.first_published_at|date:"F d, Y" }}</li>
                            {% comment %}
                            <li><i class="far fa-user-circle"></i> <a
                                    href="{% url 'your_author_url_name' post.author.username %}">{{
                                    post.author.get_full_name }}</a></li>
                            {% endcomment %}
                        </ul>
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.excerpt|safe }}</p>
                        <a href="{% pageurl post %}" class="link-btn">Read More <i class="fas fa-chevron-right"></i></a>
                    </div>

                </div>
            </div>
            {% empty %}
            <h2>No blog posts</h2>
            {% endfor %}

        </div>
    </div>
</div>
<!-- End Blog Area -->

<div class="go-top"><i class="fas fa-chevron-up"></i></div>
{% endblock content %}